# ============================================
# St. Joseph's College Media Unit - .env
# ============================================

# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas Connection String
MONGO_URI=mongodb://thivishkah_db_user:123raviya@ac-6inyxc9-shard-00-00.sl9vh8u.mongodb.net:27017,ac-6inyxc9-shard-00-01.sl9vh8u.mongodb.net:27017,ac-6inyxc9-shard-00-02.sl9vh8u.mongodb.net:27017/stjosephs_media?ssl=true&replicaSet=atlas-9wm298-shard-0&authSource=admin&appName=Cluster0

# JWT Secret Key
JWT_SECRET=stjosephs_super_secret_jwt_key_change_this_2024

# JWT Token Expires In
JWT_EXPIRE=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dxv6lxlkg
CLOUDINARY_API_KEY=349884615926659
CLOUDINARY_API_SECRET=ABFFiZdEHt6n9VCodXmBhOpj6Gs

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=StJosephs@2024!